.marginBottom {
  margin-bottom: 9px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #1A1E26;
  color: #5CE3F2;
}
li {
  list-style: none;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #4e5b74;
  position: sticky;
  top: 0;
  left: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.menu {
  display: flex;
  margin-bottom: 9px;
}
.menu li {
  font-weight: bold;
  margin-left: 24px;
  margin-bottom: 9px;
}
.menu li a {
  color: #5CE3F2;
  text-decoration: none;
  margin-bottom: 9px;
}
section {
  padding: 56px 0;
  margin-bottom: 9px;
}
.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
  width: 100%;
}
.product-item img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 9px;
}
.product-button {
  display: block;
  background-color: #274259;
  color: #5CE3F2;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;
}
.product-button:hover {
  background-color: #4D6F8C;
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }
  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}
@media screen and (max-width: 767px) {
  .products {
    display: block;
  }
  .product-item {
    margin-bottom: 34px;
  }
}
