*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #dbd5d5;
}

header{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
h1{
    font-size: 2.8rem;
    font-weight: bold;

}
form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;

}
button{
    background-color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
input{
  margin: 5px;
  padding: 5px;
  text-align: center;
}
button:hover{
    background-color: rgb(231, 219, 203);
}
.container{
    display: flex;
    justify-content: center;
    text-decoration:line-through;
    margin-top: 50px;
}
ul{
    list-style: none;
    text-align: center;
    margin-right: 60px;
    font-size: 1.1rem;
}
